doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0')
        title 〈第一屆〉危老都更博覽會 樂居好城市
        // Global site tag (gtag.js) - Google Analytics
        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-57864110-2')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-57864110-2');
        // Facebook og
        meta(property='og:site_name' content='〈第一屆〉危老都更博覽會 樂居好城市')
        meta(property='og:title', content='〈第一屆〉危老都更博覽會 樂居好城市')
        meta(property='og:image' content='/assets/cms/images/fb-og.png')
        meta(property='og:url', content='http://www.wealth.com.tw/safehouse1/')
        meta(property='og:description', content='危老都更博覽會：匯聚都市更新相關產業透過博覽會的舉辦，鼓勵民眾從都更及危老重建的思考角度出發、闔家參與，善用政府的危老都更政策，搭配營建業者提出的翻修或改建方案，讓家有更好的未來！')
        meta(property='og:type' content='website')
        meta(property='fb:page_id' content='398858137734889')
        meta(name='keywords', content='危老建築、都市更新、都更、房價、不動產、房地產、貸款、房仲、老屋改建、住宅容積、加速重建條例、危老條例、耐震、地震、都市計劃、建築容積、都市再生、文化資產、老屋重建、危老獎勵、危老重建、老屋翻新')
        meta(name='description', content='危老都更博覽會：匯聚都市更新相關產業透過博覽會的舉辦，鼓勵民眾從都更及危老重建的思考角度出發、闔家參與，善用政府的危老都更政策，搭配營建業者提出的翻修或改建方案，讓家有更好的未來！')
        link(rel='stylesheet', href='assets/cms/css/bootstrap-reset-breakpoint.css')
        link(rel='stylesheet', href='assets/cms/css/module/animate.css')
        link(rel='stylesheet', href='assets/cms/css/layout.css')
        link(rel='stylesheet', href='assets/cms/css/style.css')

body
    // ============================== header start =============================
    header#header
        .header-wrap
            .header-content.wow.fadeIn
                .main-title
                    h1
                        span.wow.zoomIn(data-wow-duration='.5s' data-wow-delay='.6s')
                            img(src='assets/cms/images/good-city.png')
                        img.wow.fadeInLeft(src='assets/cms/images/main-title.png' data-wow-duration='.8s' data-wow-delay='.3s')
                    p.slogan.wow.fadeInRight(data-wow-duration='.8s' data-wow-delay='.3s')
                        img(src='assets/cms/images/description.png')
    nav
        .menu-list
            ul
                li
                    a(href='#expo') 博覽會
                li
                    a(href='#seminar') 研討會
                li
                    a(href='') 什麼是危老都更
                li
                    a(href='') 精彩影片
                li
                    a(href='') 精彩照片
                li
                    a(href='') 合作夥伴
                li.fb-btn
                    a(href='')
                        img(src='assets/cms/images/fb-icon.png')
    // ============================== header close =============================
    a.go-top(href='#header')
    // ============================== main start ===============================
    main
        article
            section.activity
                #expo.wrap
                    .light
                    .content
                        h3 博覽會
                        p.caption
                            | 透過博覽會的舉辦，匯聚相關產業，
                            br
                            | 讓民眾更了解危險老舊建築與都市更新的重要性！
                            br
                            | 大手牽小手，善用政府政策，
                            br
                            | 一起為我們的城市未來努力吧！
                        .activity-info
                            p
                                span.tag 時間
                                | 108年12月7日(六)  早上9:30~下午16:00
                            p
                                span.tag 地點
                                | 國立臺北商業大學(臺北市中正區濟南路一段321號)
                                a.map-icon(href='')
                                    img(src='assets/cms/images/map-icon.png')
                        .info-list
                            a(href='#' data-toggle='modal' data-target='#stageModal') 舞台活動
                            a(href='#' data-toggle='modal' data-target='#mapModal') 攤位地圖
                            a(href='#' data-toggle='modal' data-target='#activityModal') 活動體驗
                            a(href='#' data-toggle='modal' data-target='#lotteryModal') 抽獎專區
                #seminar.wrap
                    .light
                    .content
                        h3 研討會
                        p.slogan 智慧住 樂活居 臺灣都更現在式
                        p.caption
                            | 據內政部資料，未來10年全臺超過30年的房屋將達近600萬戶；
                            br
                            | 面對大量老舊房屋，中央政府積極加速修訂「都市更新三法」來推動都更！
                            br
                            | 本次研討會將匯集各方智言與推動事務的經驗進行探討。
                            br
                            | 全程免費，歡迎踴躍報名
                        .activity-info
                            p
                                span.tag 日期
                                | 108年12月7日(六)  下午14：00~16：10
                            p
                                span.tag 地點
                                | 國立臺北商業大學 承曦樓10樓 國際會議廳 (臺北市中正區濟南路一段321號)
                                a.map-icon(href='')
                                    img(src='assets/cms/images/map-icon.png')
                        .info-list
                            a(href='#' data-toggle='modal' data-target='#guestModal') 與會貴賓
                            a(href='#' data-toggle='modal' data-target='#stepModal') 論壇流程
                            a(href='#' data-toggle='modal' data-target='#signupModal') 立即報名
            section.about-renewal
                .wrap
                    .content
                        h3 什麼是危老都更
                        ul 
                            li.pic01
                                a(href='')
                                    span 都市更新和危老重建有什麼不同？
                            li.pic02 
                                a(href='')
                                    span 都市更新和危老重建有什麼不同？
                            li.pic03 
                                a(href='')
                                    span 都市更新和危老重建有什麼不同？
                            li.pic04 
                                a(href='')
                                    span 都市更新和危老重建有什麼不同？
                            li.pic05 
                                a(href='')
                                    span 都市更新和危老重建有什麼不同？
                            li.pic06 
                                a(href='')
                                    span 都市更新和危老重建有什麼不同？
            section.playlist
                .wrap
                    .content
                        h3 精彩影片
                        ul 
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/gNdlZAaHNEM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/gNdlZAaHNEM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/gNdlZAaHNEM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/gNdlZAaHNEM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/gNdlZAaHNEM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/gNdlZAaHNEM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            section.gallary
                .wrap
                    .content
                        h3 精彩照片
                        ul 
                            li.pic01
                                span
                                    img(src='assets/cms/images/pic07.jpg')
                            li.pic02
                                span
                                    img(src='assets/cms/images/pic08.jpg')
                            li.pic03
                                span
                                    img(src='assets/cms/images/pic09.jpg')
                            li.pic04
                                span
                                    img(src='assets/cms/images/pic10.jpg')
                            li.pic05
                                span
                                    img(src='assets/cms/images/pic11.jpg')
                            li.pic06
                                span
                                    img(src='assets/cms/images/pic12.jpg')
            section.partner
                .wrap 
                    .content
                        h3 合作夥伴
                        .partner-list
                            h4 指導單位
                            ul 
                                li
                                    a(href='')
                        .partner-list
                            h4 主辦單位
                            ul 
                                li
                                    a(href='')
                        .partner-list
                            h4 協辦單位
                            ul 
                                li
                                    a(href='')
                        .partner-list
                            h4 共同主辦
                            ul 
                                li
                                    a(href='')
                        .partner-list
                            h4 合作單位
                            ul 
                                li
                                    a(href='')
    // ============================== main close ===============================

    // ============================== footer start =============================
    footer 
        .footer-wrap
            | 本網站版權屬於財信雜誌社股份有限公司所有，據稱本站同意，不要擅用文字及圖案
            br
            br
            | 讀者服務專線：（02）2551-2561分機224〜226
    // ============================== footer close =============================

    #activityModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='activityModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#activityModalLabel.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Save changes

// Common
script(src='assets/cms/js/module/jquery.min.js')
script(src='assets/cms/js/bootstrap/bootstrap.min.js')
script(src='assets/cms/js/bootstrap/bootstrap.bundle.min.js')
script(src='assets/cms/js/module/wow.min.js')
script(src='assets/cms/js/main.js')
script.
    $(function () {
        new WOW().init();
    });